# Python
.venv/
venv/
.venv-test/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
*.egg

# Entornos
.env

# OpenCode
.tmp/
.node_modules/
bun.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Proyecto específico
nextSteps19032026.md
